<html>
<head>
   <link rel="stylesheet" href="style.css">
</head>
   <body>

      
      <h1>SUBIR LOS ARCHIVOS DEL CLUSTER </h1>

      <div class="custom-file-upload">
         <form action = "http://consolidado-sms.herokuapp.com/uploadfile" method = "POST" 
            enctype = "multipart/form-data">
            <input id="file" type = "file" name = "file" multiple/>
            <input type = "submit"/>
         </form>   
      </div>

      <p>See the <a href="https://codepen.io/wallaceerick/pen/ctsCz">Custom Select Menu</a> demo!</p>

   </body>
</html>


